<div class="container">
  <div class="row">
    abc<i class="fas fa-user-circle" aria-hidden="true"></i>
    <br>
    ghi
    <!-- simple name only that assumes the default prefix -->
    <fa-icon icon="coffee"></fa-icon>
    <!-- ['fas', 'coffee'] is an array that indicates the [prefix, iconName] -->
    <fa-icon [icon]="['fas', 'coffee']"></fa-icon>
  </div>
</div>
<!-- Creates a layout with a left-positioned sidenav and explicit content. -->
<mat-sidenav-container>
  <mat-sidenav>Start</mat-sidenav>
  <mat-sidenav-content>Main</mat-sidenav-content>
</mat-sidenav-container>
<!-- Creates a layout with a left and right sidenav and implicit content. -->
lllll
<mat-sidenav-container>
  <mat-sidenav>Start</mat-sidenav>
  <mat-sidenav position="end">End</mat-sidenav>
  <section>Main</section>
</mat-sidenav-container>
<!-- Creates an empty sidenav container with no sidenavs and implicit empty content. -->
<mat-sidenav-container></mat-sidenav-container>
çççççççç
<mat-radio-group aria-label="Select an option">
  <mat-radio-button value="1">Option 1</mat-radio-button>
  <mat-radio-button value="2">Option 2</mat-radio-button>
</mat-radio-group>

