<div class="container">
  <div>
    <h1 style="font-weight: bold;">Pessoas</h1>
    <hr>
  </div>
  <div class="form-group">
    <label for="nome" class="block form-control-label">Nome</label>
    <!-- <input inputId="nome" type="text" placeholder="Nome" pInputText appCampoColorido /> -->
    <input inputId="nome" type="text" placeholder="Nome" pInputText class="form-control" />
  </div>
  <div class="form-group">
    <button
      pButton
      pRipple
      type="submit"
      label="Pesquisar"
      icon="pi pi-search"
    ></button>
  </div>
  <div class="form-group">
    <app-pessoa-grid [pessoas]="pessoas"></app-pessoa-grid>
  </div>
</div>
